/*APPLIED TO ENTIRE PAGE*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body,
html {
    height: 100%;
    width: 100%;
    background-color: rgb(191, 199, 206);
}
h3 {
    font-weight: bold;
    text-decoration: underline;
}
/*TOP OF PAGE*/
/* HEADER*/
header {
    padding: 0px;
    padding: 5px;
    overflow: hidden;
}

/* Header, my name */
h1 {
    font-size: 50px;
    display: inline-block;
    margin-left: 30px;
}
/*nav menu*/
header nav {
    float: right;
}
/*nav menu*/
header nav ul {
    list-style-type: none;
}
/*nav menu*/
.navigation {
    display: inline-block;
    font-size: 24px;
    margin-right: 30px;
    padding-top: 25px;
    color: black;
}

/*END OF HEADER*/
/*BANNER IMAGE, AARON HEADSHOT*/
.hero-image {
    background-image: url(..//Assets/placeholder-images/Aaron-Headshot.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* text for banner, Needs to be positioned relative to banner image, BOTTOM RIGHT CORNER AT ALL TIMES */
.hero-text {
    position: absolute;
    bottom: 8px;
    right: 16px;  
    color: aliceblue;  
    text-align: center;
}
/*END OF BANNER IMAGE*/
/*FIRST SECTION, ABOUT ME*/
.about-me {
    text-align: center;
    position: relative;
    color: black;
    margin: 25px;
    margin-bottom: 25px;
    font-size: 24px;
}
.about-me-text {
    margin: 25px;
    font-size: 18px;
}
/*END FIRST SECTION*/
/*SECOND SECTION, PORTFOLIO*/
/*grayscales all the images, !!! IMPORTANT NEED FEATURE HOVER REMOVES GRAYSCALE !!! */
.portfolio {
    align-items: center;
    justify-content: center;
    font-size: 24px;
    overflow: hidden;
}
/*Centers h3 in middle of page*/
.portfolio h3 {
    text-align: center;
    position: relative;
    color: black;
    margin: 25px;
    margin-bottom: 25px;
}
/*LARGE IMAGE*/
.family-shot {
    display: flex;
    width: 100%;
}
.family-shot img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    display: block;
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: auto;
    padding: 40px;
}
.family-shot img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
/*SMALLER IMAGES*/
.wyatt {
    display: flex;
    float: left;
    width: 50%;
}
.wyatt img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    display: block;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: auto;
    padding: 40px;
}
.wyatt img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
/*END OF PORTFOLIO SECTION*/
/*THIRD/FINAL SECTION, CONTACT ME*/
footer{
    overflow: hidden;
    }

#contact-me {
    text-align: center;
    position: relative;
    color: black;
    display: block;
    font-size: 24px;
}
.contact-menu {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}
.contact-menu ul{
    width: 100%;
}
.contact-menu a{
    margin: 25px;
}

.grayscale {
    filter: grayscale(100%);
    transition: all 0.5s ease;
  }

  .grayscale:hover {
    filter: grayscale(0%);
  }


/* ID customizations*/
#telephone, #email, #github, #about-me-link, #portfolio-link, #contact-me-link, #resume {
    color: black;
}



/*END OF CONTACT ME*/


@media only screen and (max-width: 774px) {
   header {
    text-align: center;
   }

   h1 {
    margin-left: 0px;
   }

   .navigation {
    margin-right: 30px;
    margin-left: 30px;
   }
   header nav {
float: none;
   }
  }